:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font:100% normal Arial, Helvetica, sans-serif; 
    /* background-color: #38373a; */
    background-image: url(../imagens/skyscraper-3196390.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
  }
  
  .container {
    /* background-color: #00000075; */
    display: grid;
    height: 230vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav nav nav"
      "divMain divMain divMain"
      "content1 content2 content3"
      "footer footer footer";
    grid-gap: 1.2rem;
    font-weight: 800;
    /* text-transform: uppercase; */
    font-size: 12px;
    color: #d3d1da;
    text-align: center;
    
  }

  /* .imagem{
    background-image: url(teste.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
} */
  
  nav {
    background: #004274;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 70px;
    box-shadow: 4px 4px 14px #100e28de;
    font-family: "Inter";
    font-size: 20px;
    /* margin-bottom: 85px; */
    position: fixed;
    width: 55em;
    z-index: 10;
    
  }

  /* nav > img{ */
       /* padding-top: 8px; */
       /* display: flex;
       justify-content: flex-start; */
       /* align-items: stretch;*/
  /* } */
  
  .divMain {
    /* background: #1c1d1c; */
    grid-area: divMain;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 740px;
  }

  #carouselExampleControls{
    box-shadow: 5px 5px 15px black;
    margin-top: 135px;
    width: 1000px;
    height: 480px;
    margin-left: 60px;
  }

  .d-block{
    border-radius: 15px;
    

  }
  .w-100{
    width: 1000px;
    height: 480px;
  }

  /* .carousel-caption-width {
    width: 70%
  }              */
  
  /* #sidebar {
    background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  } */
  
  #content1 {
    background: #3e4246fa;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 490px;
    box-shadow: 4px 4px 6px #0c2436;
    box-shadow: 4px 4px 6px #0c2436;
    overflow: overlay;
  }

  #content1 > ul{
    color: #bbbac9;
    font-size: 15px;
    text-align: left;
  }
  
  #content2 {
    background: #3e4246fa;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 490px;
    box-shadow: 4px 4px 6px #0c2436;
    box-shadow: 4px 4px 6px #0c2436;
    overflow: overlay;
  }

  #content2 > ul{
    color: #bbbac9;
    text-align: left;
    font-size: 15px;
  }
  
  #content3 {
    background: #3e4246fa;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    height: 490px;
    box-shadow: 4px 4px 6px #0c2436;
    overflow: overlay;
  }

  h5{
    color: #c8cfd5;
    margin-top: 26px;
  }
  .pCont{
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px 30px 0px 10px;
    text-align: justify;
    color: #bbbac9;
  }
  
  footer {
    background: #eaeced;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin-top: 90px;
    /* height: 150px; */
    
  }

  .pfooter{
    color: black;
    
    text-align: center;
  }
  
  .caso{
    display: flex;
    margin-right: 5vh;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    color: #3e4246fa;
   
  }

  #logo{
    margin-left: 50px;
  }

  .ulNav{
    display: flex;
    list-style-type: none;
    /* background-color: #004274; */
    /* justify-content: flex-end; */
    /* flex-wrap: nowrap; */
    align-items: center;
    
  }

  .liNav a{
    text-align: center;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
    padding-top: 30px;
    color: #d3d1da;
    justify-content: center;
    font:100% normal Arial, Helvetica, sans-serif; 
  }

  /* li a:hover {
    background-color:darkseagreen;
  } */
  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "nav"
        "divMain"
        "content1"
        "content2"
        "content3"
        "footer";
    }
  }
  